h1, h2 {
    text-decoration: underline;
    text-align: center;
    color: blue;
}

h2 {
    color: brown;
}

form {
    display: inline-block;
    margin: 10px;
    padding: 15px;
    width: 50%;
    border: 1px gray solid;
    border-radius: 2%;
    text-align: left;
}

label {
    margin: 10px;
    display: block;
    font-size: x-large;
}

input {
    margin: 10px;
    display: inline-block;
    font-size: x-large;
    width: 30%;
}

.centered {
    text-align: center;
}

button {
    margin: 10px;
    padding: 5px;
    text-align: center;
    background-color: green;
    color: white;
    font-size: large;
    border: 1px solid darkgreen;
    border-radius: 8%;
}

.feedback {
    text-align: center;
    font-size: xx-large;
    color: red;
}
