<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Session Exercises</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Flask Practice</h1>
    <section class="centered">
        <form action="/" method="POST">
            <h2>Play Rock, Paper, Scissors</h2>
            <p>Add input(s) to let the user select "Rock", "Paper", or "Scissors".</p>
            <p><em>Try NOT to use a text entry.</em></p>
            <section class="centered">
                <button>Go!</button>
            </section>
        </form>
    </section>
    <hr>
    <p class="feedback">Display results here...</p>
</body>
</html>
